{
  "parser": "babel-eslint",
  "env": {
    "browser": false,
    "node": true
  },
  "rules": {
    "quotes": [2, "single"],
    "eol-last": [0],
    "no-mixed-requires": [0],
    "no-underscore-dangle": [0],
    "no-console": 0,
    "no-debugger": 1,
    "no-var": 1,
    "semi": [1, "always"],
    "no-trailing-spaces": 0,
    "no-alert": 0,
    "no-lone-blocks": 0,
    "no-mixed-spaces-and-tabs": [1, "smart-tabs"],
    "newline-before-return": 0,
    "newline-after-var": 0,
    "object-property-newline": 0
  }
}
